/* FileUpload.css */
.upload-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

.upload-container {
  padding: 10px; /* Add some padding for spacing */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 4px; /* Optional: Rounded corners */
  background-color: #f9f9f9; /* Optional: Background color */
}

.upload-container h3 {
  margin: 0 0 10px 0; /* Margin adjustments */
}

.upload-container p {
  margin: 0 0 5px 0; /* Margin adjustments */
}

/* Drag-and-drop area styling */
.upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.upload-box:hover {
  background-color: #fcff58;
  border: dashed 2px  #007bff;
}

.file-input-container input[type="file"] {
  margin-bottom: 10px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:hover {
  background-color: #0056b3;
}

.upload-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.uploaded-images {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

.uploaded-images h3 {
  margin-bottom: 10px;
  color: #333;
}

.uploaded-images div {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
}

.uploaded-images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

img.black-border {
  border: 2px solid black;
}

/* File input button styling */
.input-submit-button {
  width: 100%; /* Ensures the button fits the container's width */
  margin: 20px 0;
  border: 2px 1px solid #000000!important;
  padding: 10px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.input-submit-button:hover {
  background-color: #0056b3;
}

.input-submit-button::-webkit-file-upload-button {
  cursor: pointer;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

/*                  optional: style url displayed for uploaded images but this causes formatting/page responsivity issue 
.upload-url {
  display: block; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  hyphens: auto; 
  white-space: normal; 
  text-overflow: ellipsis; 
  max-width: 100%; 
  color: #007bff; 
  text-decoration: none; 
}

a.upload-url:hover {
  color: #ff0037!important;
  text-decoration: underline;
}
*/

p.success-message {
  color: var(--cyan);
  font-size: 18px;
  margin: 20px 0;
  background-color: black;
  border: 2px solid var(--lblue);
  padding: 5px;
  border-radius: 4px;
  justify-content: center;
}

p.black-text-2 {
  color: rgb(217, 255, 0);
  font-size: 16px;
  margin: 20px 0;
  background-color: black;
  border: 2px solid var(--lblue);
  padding: 5px;
  border-radius: 4px;
  justify-content: center;
}

.fireworks-container {
  display: flex; /* group contents and horizontal alignment */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* space between the elements */
  border: none!important;
}

.fireworks {
  max-width: 50px!important; /* Set a maximum width for the images */
  height: auto; /* Maintain the aspect ratio */
}

/* uploaded images (ImageUp.jsx) display modal------------------------------------------ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* image display modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 40px;
  position: relative;
  max-width: 70vw; /* Maximum width of the modal content */
  max-height: 100vh; /* Maximum height of the modal content */
  overflow: auto; /* Add scrollbar if content overflows */
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid black;
 width: 30px;
 height: 35px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-close:hover {
  background-color: #ff004c;
}

.modal-image {
  max-width: 100%; /* Ensure the image does not overflow its container */
  max-height: 100%; /* Ensure the image does not overflow its container */
  height: auto; /* Maintain aspect ratio */
  border: 5px solid  #007bff;
}

/* profile display modal------------------------------------------ */
.modal-overl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-cont {
  position: relative;
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  overflow: auto; /* Add scrollbar if content overflows */
}

.modal-img {
  max-width: 100%;
  max-height: 90vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5f5f;
  color: #fff;
  border: solid 2px black;
  border-radius: 15%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.close-button:hover {
  background: #ff2e2e;
  transform: scale(1.1);
}

/* --------------------- temporary local storage [SAVED] images display */

.gallery-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: solid 8px var(--midnight);
}

.gallery-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.no-images-message {
  text-align: center;
  color: #777;
  font-size: 1.2rem;
  margin-top: 20px;
}