.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
}

.dropzone:hover {
  background-color: #e9e9e9;
}

  .dropzone p {
    margin: 0;
    color: #007bff;
  }

  /* FileUpload.css */

.upload-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.file-input-container input[type="file"] {
  margin-bottom: 10px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.uploaded-images {
  width: 100%;
}

.uploaded-images h3 {
  margin-bottom: 10px;
  color: #333;
}

.uploaded-images div {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
}

.uploaded-images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}